<form class="archive-node-search" action="<%= root_path %>">
  <input type="hidden" name="node_id" value="<%= @archive_node.id %>" />
  <input type="text" name="q" placeholder="In diesem Bestand suchen..." class="search__text-input" />
  <input type="submit" value="Suchen" class="search__button" />
</form>

<div class="archive-node-menu">
  <ul class="archive-node-mneu__list">
    <li class="archive-node archive-node--selected">
      <%= link_to @archive_node.parents.first.name, archive_node_path( @archive_node.parents.first), class: 'archive-node__link' %>
    </li>
  </ul>
  <% @archive_node.parents.each.with_index do |node, index| %>
    <ul class="archive-node-mneu__list">
      <%  node.child_nodes.each do |child| %>
        <li class="archive-node <%= "archive-node--selected" if child.id == @archive_node.parents[index+1]&.id %>">
          <%= link_to child.name, archive_node_path(child), class: 'archive-node__link' %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% @archive_node.archive_files.each do |archive_file| %>
  <%= render ResultComponent.new(archive_file: archive_file) %>
<% end %>

<script>
  document.querySelectorAll('.archive-node--selected').forEach((el) => {
    el.scrollIntoView({ behavior: 'smooth', block: 'center' });
  });
</script>
