<%= render "pagination_controls", paginatable: @root_nodes, entry_name: 'Bestand', suffix: 'top' %>

<nav class="letter-index">
  <%= link_to t("browse.all"), browse_fonds_path(fonds_sort: @fonds_sort), class: "letter-index__item #{"letter-index__item--active" unless @letter}" %>
  <% @fonds_letters.each do |letter| %>
    <%= link_to letter, browse_fonds_path(letter: letter, fonds_sort: @fonds_sort), class: "letter-index__item #{"letter-index__item--active" if @letter == letter}" %>
  <% end %>
</nav>
<ul class="browse-fonds">
  <% @root_nodes.each do |node| %>
    <li class="browse-fonds__item">
      <%= link_to archive_node_path(node.id), class: "browse-fonds__link" do %>
        <% if node.unitid.present? %><span class="browse-fonds__unitid"><%= node.unitid %></span><% end %>
        <span class="browse-fonds__name"><%= node.name %></span>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="pagination">
  <%= paginate @root_nodes, params: { letter: @letter, fonds_sort: @fonds_sort }, window: 4, outer_window: 1 %>
</div>

<%= render "pagination_controls", paginatable: @root_nodes, entry_name: 'Bestand', suffix: 'bottom' %>
