<% if @date_from %>
  <h3><%= @date_from.year %><%= @date_to.year - @date_from.year >= 100 ? ". Jhd." : "er" %></h3>
  <p><%= link_to t("browse.back_to_list"), browse_dates_path %></p>
  <% @archive_files.each do |archive_file| %>
    <%= render ResultComponent.new(archive_file: archive_file) %>
  <% end %>
  <div class="pagination">
    <%= paginate @archive_files %>
  </div>
<% else %>
  <% max_count = @period_counts.map { |d| d["file_count"] }.max %>
  <div class="browse-decades">
    <% @period_counts.each do |period| %>
      <% pct = (period["file_count"].to_f / max_count * 100).round(1) %>
      <% span = period["span"].to_i %>
      <% year = period["period"].to_i %>
      <%= link_to browse_dates_path(from: "#{year}-01-01", to: "#{year + span}-01-01"), class: "browse-decades__row" do %>
        <span class="browse-decades__label"><%= span >= 100 ? "#{(year / 100) + 1}. Jhd." : "#{year}er" %></span>
        <span class="browse-decades__bar" style="width: <%= pct %>%"></span>
        <span class="browse-decades__count"><%= number_with_delimiter(period["file_count"]) %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
