<aside class="search-facets">
  <% if @archive_node || @unitid || @unitid_prefix || @date_from %>
    <div class="search-facets__chips">
      <span class="search-facets__chips-label"><%= t("search.active_filters") %></span>
      <% if @archive_node %>
        <span class="search-facets__chip">
          <%= @archive_node.name %>
          <%= link_to "\u00d7", facet_url(remove: [:node_id]), class: "search-facets__chip-remove" %>
        </span>
      <% end %>
      <% if @unitid %>
        <span class="search-facets__chip">
          <%= @unitid %>
          <%= link_to "\u00d7", facet_url(remove: [:unitid]), class: "search-facets__chip-remove" %>
        </span>
      <% end %>
      <% if @unitid_prefix %>
        <span class="search-facets__chip">
          <%= @unitid_prefix %>*
          <%= link_to "\u00d7", facet_url(remove: [:unitid_prefix]), class: "search-facets__chip-remove" %>
        </span>
      <% end %>
      <% if @date_from %>
        <span class="search-facets__chip">
          <%= @date_from.year %>er
          <%= link_to "\u00d7", facet_url(remove: [:from, :to]), class: "search-facets__chip-remove" %>
        </span>
      <% end %>
    </div>
  <% end %>

  <% if @facets && @facets["fonds_unitid_prefix"]&.any? && !@unitid_prefix && !@unitid %>
    <details open class="search-facets__section">
      <summary><%= t("archive_node.unitid") %> (Gruppe)</summary>
      <ul class="search-facets__list">
        <% @facets["fonds_unitid_prefix"].sort_by { |_, count| -count }.each do |prefix, file_count| %>
          <li class="search-facets__list-item">
            <%= link_to facet_url(add: { unitid_prefix: prefix }) do %>
              <span class="search-facets__name" title="<%= prefix %>"><%= prefix %></span>
              <span class="search-facets__count"><%= number_with_delimiter(file_count) %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>

  <% if @facets && @facets["fonds_unitid"]&.any? && !@unitid %>
    <details open class="search-facets__section">
      <summary><%= t("archive_node.unitid") %></summary>
      <ul class="search-facets__list">
        <% @facets["fonds_unitid"].sort_by { |_, count| -count }.each do |unitid, file_count| %>
          <% fonds_id = @fonds_id_map&.dig(unitid) %>
          <li class="search-facets__list-item">
            <% if fonds_id && @query.present? %>
              <%= link_to facet_url(add: { node_id: fonds_id }) do %>
                <span class="search-facets__name" title="<%= unitid %>"><%= unitid %></span>
                <span class="search-facets__count"><%= number_with_delimiter(file_count) %></span>
              <% end %>
            <% else %>
              <%= link_to facet_url(add: { unitid: unitid }) do %>
                <span class="search-facets__name" title="<%= unitid %>"><%= unitid %></span>
                <span class="search-facets__count"><%= number_with_delimiter(file_count) %></span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>

  <% if @facets && @facets["fonds_name"]&.any? && !@archive_node %>
    <details open class="search-facets__section">
      <summary><%= t("browse.fonds") %></summary>
      <ul class="search-facets__list">
        <% @facets["fonds_name"].sort_by { |_, count| -count }.each do |fonds_name, file_count| %>
          <% fonds_id = @fonds_id_map&.dig(fonds_name) %>
          <li class="search-facets__list-item">
            <% if fonds_id && @query.present? %>
              <%= link_to facet_url(add: { node_id: fonds_id }) do %>
                <span class="search-facets__name" title="<%= fonds_name %>"><%= fonds_name %></span>
                <span class="search-facets__count"><%= number_with_delimiter(file_count) %></span>
              <% end %>
            <% elsif fonds_id %>
              <%= link_to archive_node_path(fonds_id) do %>
                <span class="search-facets__name" title="<%= fonds_name %>"><%= fonds_name %></span>
                <span class="search-facets__count"><%= number_with_delimiter(file_count) %></span>
              <% end %>
            <% else %>
              <span class="search-facets__name"><%= fonds_name %></span>
              <span class="search-facets__count"><%= number_with_delimiter(file_count) %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>

  <% if @facets && @facets["decade"]&.any? %>
    <details open class="search-facets__section">
      <summary><%= t("browse.dates") %></summary>
      <% log_max = Math.log(@facets["decade"].values.max + 1) %>
      <div class="search-facets__decades">
        <% @facets["decade"].sort_by { |k, _| k.to_i }.each do |decade, file_count| %>
          <% pct = (Math.log(file_count + 1) / log_max * 100).round(1) %>
          <% decade_start = "#{decade}-01-01" %>
          <% decade_end = "#{decade.to_i + 10}-01-01" %>
          <% if @query.present? %>
            <%= link_to facet_url(add: { from: decade_start, to: decade_end }), class: "search-facets__decade-row" do %>
              <span class="search-facets__decade-label"><%= decade %>er</span>
              <span class="search-facets__decade-bar-track"><span class="search-facets__decade-bar" style="width: <%= pct %>%"></span></span>
              <span class="search-facets__decade-count"><%= number_with_delimiter(file_count) %></span>
            <% end %>
          <% else %>
            <%= link_to browse_dates_path(from: decade_start, to: decade_end), class: "search-facets__decade-row" do %>
              <span class="search-facets__decade-label"><%= decade %>er</span>
              <span class="search-facets__decade-bar-track"><span class="search-facets__decade-bar" style="width: <%= pct %>%"></span></span>
              <span class="search-facets__decade-count"><%= number_with_delimiter(file_count) %></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </details>
  <% end %>
</aside>
