<div class="result">
  <div class="parents">
    <%= parents %>
  </div>
  <div class="result__header">
    <h4 class="result__title">
      <%= link_to_if(@archive_file.link.present?, @archive_file.call_number, @archive_file.link, target: "_blank") %>: <%= title %>
    </h4>
    <p>
      <%= date %>
      <% if date_corrected? %>
        <span class="result__date-corrected" title="<%= date_correction_detail %>">korrigiert</span>
      <% end %>
    </p>
  </div>
  <p class="result__summary">
    <%= summary %>
  </p>
  <div class="cite">
    <div class="cite__group">
      <span class="cite__format">RIS</span>
      <a class="cite__action cite__copy" data-path="<%= archive_file_path(@archive_file, format: :ris) %>" title="RIS kopieren">&#x2398; Kopieren</a>
      <%= link_to archive_file_path(@archive_file, format: :ris), class: "cite__action", title: "RIS herunterladen" do %>&#x2913; Download<% end %>
    </div>
    <div class="cite__group">
      <span class="cite__format">BibTeX</span>
      <a class="cite__action cite__copy" data-path="<%= archive_file_path(@archive_file, format: :bib) %>" title="BibTeX kopieren">&#x2398; Kopieren</a>
      <%= link_to archive_file_path(@archive_file, format: :bib), class: "cite__action", title: "BibTeX herunterladen" do %>&#x2913; Download<% end %>
    </div>
  </div>
</div>
