<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Quellenportal</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="apple-touch-icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= preload_link_tag asset_path('Atkinson_Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2'), as: "font", type: "font/woff2", crossorigin: "anonymous" %>
    <%= preload_link_tag asset_path('Atkinson_Hyperlegible/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2'), as: "font", type: "font/woff2", crossorigin: "anonymous" %>
    <%= preload_link_tag asset_path('EB_Garamond/WOFF2/EBGaramond12-Regular.woff2'), as: "font", type: "font/woff2", crossorigin: "anonymous" %>
  </head>
  <body>
    <div class="container__outer">
      <main class="container__inner <%= yield :container_class %>">
        <h1 class="search__title">
          <%= link_to "Quellenportal", :root %>
        </h1>
        <%= yield %>
      </main>
    </div>
    <footer>
      <%= link_to "Impressum", :legal_notice  %>
      <small><a href="https://github.com/teal-bauer/quellenportal">GitHub</a> &middot; basierend auf <a href="https://bundessuche.de">Bundessuche</a> von Michael Emhofer</small>
    </footer>
  </body>
</html>
